<div class="row">
  <h3><%= @person.first_name %> <%= @person.last_name %></h3>
  <p class="email-show"><%= @person.email %></p>
  <%= image_tag @person.picture, style: 'width:auto;' %>
</div>

<div class="row link-back">
  <%= link_to '<< Voltar', :back, class: "back" %>
</div>
